<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <!--<alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>-->
  </div>
</div>

<div class="row" ng-controller="MainDataCtrl">
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon green pull-left">
          <i class="fa fa-smile-o"></i>
        </div>
        <div class="title">{{targets.count}}</div>
        <div class="comment">代禱對象</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon red pull-left">
          <i class="fa fa-star"></i>
        </div>
        <div class="title">{{actions.count_today}}</div>
        <div class="comment">今日禱告數</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon orange pull-left">
          <i class="fa fa-fire"></i>
        </div>
        <div class="title">{{users.count}}</div>
        <div class="comment">守望者</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon blue pull-left">
          <i class="fa fa-bolt"></i>
        </div>
        <div class="title">{{targets.count/users.count | number : 2}}</div>
        <div class="comment">平均代禱指數</div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-6" ng-controller="DailyCtrl">
    <rd-widget>
      <rd-widget-header icon="fa-cog fa-spin" title="今日即時統計">

      </rd-widget-header>
      <rd-widget-body>
        <canvas id="line" class="chart chart-line" data="data"
        labels="labels" legend="true" series="series"
        click="onClick">
        </canvas>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-6" ng-controller="WeeklyCtrl">
    <rd-widget>
      <rd-widget-header icon="fa-cog fa-spin" title="上週統計">

      </rd-widget-header>
      <rd-widget-body>
        <canvas id="line" class="chart chart-line" data="data"
        labels="labels" legend="true" series="series"
        click="onClick">
        </canvas>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-6" ng-controller="ThisMonthCtrl">
    <rd-widget>
      <rd-widget-header icon="fa-cog fa-spin" title="本月統計">

      </rd-widget-header>
      <rd-widget-body>
        <canvas id="line" class="chart chart-line" data="data"
        labels="labels" legend="true" series="series"
        click="onClick">
        </canvas>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-6" ng-controller="MonthlyCtrl">
    <rd-widget>
      <rd-widget-header icon="fa-cog fa-spin" title="月度統計">

      </rd-widget-header>
      <rd-widget-body>
        <canvas id="line" class="chart chart-line" data="data"
        labels="labels" legend="true" series="series"
        click="onClick">
        </canvas>
      </rd-widget-body>
    </rd-widget>

  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="col-lg-6">

    </div>
    <div class="col-lg-6 text-right">

    </div>
  </div>
</div>
