<div class="row" ng-controller="InfoCtrl">
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon green pull-left">
          <i class="fa fa-star-half-o"></i>
        </div>
        <div class="title">{{info.sinner}}</div>
        <div class="comment">決志者總數</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon green pull-left">
          <i class="fa fa-tint"></i>
        </div>
        <div class="title">{{info.baptized}}</div>
        <div class="comment">受洗者總數</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon green pull-left">
          <i class="fa fa-check-circle"></i>
        </div>
        <div class="title">{{info.meeter}}</div>
        <div class="comment">聚會者總數</div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
