<div class="row">
  <div class="col-lg-6" ng-controller="TargetsCtrl">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="代禱對象列表">
        <!--<a href="#">管理</a>-->
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr ng-repeat="item in items"><td>{{item.mask}}</td><td>{{item.sinner}}</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <pagination ng-change="pageChanged(current_page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" total-items="total" ng-model="current_page" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="last_page" items-per-page="20"></pagination>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
  <div class="col-lg-6" ng-controller="BustedsCtrl">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="已刪除對象列表">
        <!--<a href="#">管理</a>-->
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr ng-repeat="item in items"><td>{{item.mask}}</td><td>{{item.sinner}}</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <pagination ng-change="pageChanged(current_page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" total-items="total" ng-model="current_page" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="last_page" items-per-page="20"></pagination>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
