<div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="代禱對象列表">
        <!--<a href="#">管理</a>-->
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr><td>王★明</td><td>已加入教會</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td>陳★清</td><td>已加入教會</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td>邱★茵</td><td>已加入教會</td><td><span tooltip="需要代禱!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
              <tr><td>林★儒</td><td>已決志</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td>陳★生</td><td>未決志</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td>鄭★傑</td><td>未決志</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td>林★鈞</td><td>未決志</td><td><span tooltip="需要代禱!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
              <tr><td>王★宏</td><td>已加入教會</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td>林★美</td><td>已決志</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td>林★汶</td><td>已決志</td><td><span tooltip="需要代禱!" class="text-warning"><i class="fa fa-flash"></i></span></td></tr>
              <tr><td>白★欣</td><td>已決志</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="已刪除對象列表">
        <!--<a href="#">管理</a>-->
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr><td>陳★鋒</td><td>已加入教會</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td>林★欽</td><td>已加入教會</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td>王★真</td><td>已加入教會</td><td><span tooltip="需要代禱!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
              <tr><td>陳★鈞</td><td>已加入教會</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td>林★民</td><td>已加入教會</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td>孫★琳</td><td>已加入教會</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td>汪★珍</td><td>已加入教會</td><td><span tooltip="需要代禱!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
              <tr><td>陳★楓</td><td>已加入教會</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td>林★玟</td><td>已加入教會</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td>陳★瑜</td><td>已加入教會</td><td><span tooltip="需要代禱!" class="text-warning"><i class="fa fa-flash"></i></span></td></tr>
              <tr><td>王★彰</td><td>已加入教會</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
